body {
    overflow-x: hidden;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(53, 92, 101);
    background: radial-gradient(circle, rgba(53, 92, 101, 1) 0%, rgba(11, 18, 32, 1) 89%);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    border-radius: 5px;
}

.display {
    height: 100px;
    background-color: rgb(146, 146, 146);
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;

}

.prevNumber,
.newNumber {
    margin: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

#clear {
    flex: 1;
    border-radius: 15px;
    margin: 5px 10px;
}

#zero {
    flex: 1;
    border-radius: 15px;
    margin: 5px 10px;

}

button {
    background-color: #585858;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    min-height: 13px;
    min-width: 13px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 20%;
}

.btn-number:active {
    background-color: rgb(133, 133, 133);
}

.btn-clear:active,
.btn-delete:active,
.btn-equals:active {
    background-color: rgb(255, 223, 163);
}

section .func-button {
    background-color: orange;
}

@media only screen and (max-width: 425px) {

    main {
        width: 50%;
        height: 400px;
        padding: 0 10px;
    }

    button {
        height: 50px;
        width: 50px;
        font-size: 1em;
        margin: 2px;
    }

    .row {
        justify-content: space-around;
    }

    .display {
        height: 50px;
        font-size: 1em;
    }

    #clear {
        flex: 1;
        border-radius: 10px;
        margin: 2px;

    }

    #zero {
        flex: 1;
        border-radius: 10px;
        margin: 2px;


    }
}